{% extends 'base.html' %}

{% block content %}
    <div id="conteudo">

	   <h1>DrawDown Calculator</h1>

	</div>
    <form name="calculator" method="POST">
          <div class="input-container">
              <label>Please type you current drawdown (in %)</label>
              <!-- <i class="bi bi-percent"></i> -->
              <input class="input-field" type="text" name="value">
              <button type="submit">Calculate</button>
              {{ result }}
          </div>
    </form>
{% endblock %}